#define MANIFEST 						24
1						MANIFEST  DISCARDABLE "cjsontree.xml"
100						ICON      DISCARDABLE "Images/class_module.ico"
103						ICON      DISCARDABLE "Images/json_string.ico"
104						ICON      DISCARDABLE "Images/json_integer.ico"
105						ICON      DISCARDABLE "Images/json_float.ico"
106						ICON      DISCARDABLE "Images/json_custom.ico"
107						ICON      DISCARDABLE "Images/json_true.ico"
108						ICON      DISCARDABLE "Images/json_false.ico"
109						ICON      DISCARDABLE "Images/json_array.ico"
110						ICON      DISCARDABLE "Images/json_object.ico"
111						ICON      DISCARDABLE "Images/json_null.ico"
112						ICON      DISCARDABLE "Images/json_invalid.ico"
113						ICON      DISCARDABLE "Images/json_logical.ico"
