#define TT_FILE_OPEN					3000
#define TT_FILE_CLOSE					3001
#define TT_FILE_NEW						3002
#define TT_FILE_SAVE					3003
#define TT_FILE_SAVEAS					3004
#define TT_EDIT_COPY_ITEM				3005
#define TT_EDIT_COPY_BRANCH				3006
#define TT_EDIT_PASTE_ITEM				3007
#define TT_EDIT_PASTE_BRANCH			3008
#define TT_ADD_ITEM						3009
#define TT_DEL_ITEM						3010
#define TT_ADD_ITEM_STRING				3040
#define TT_ADD_ITEM_NUMBER				3041
#define TT_ADD_ITEM_TRUE				3042
#define TT_ADD_ITEM_FALSE				3043
#define TT_ADD_ITEM_ARRAY				3044
#define TT_ADD_ITEM_OBJECT				3045
#define TT_EDIT_FIND					3011
STRINGTABLE DISCARDABLE
BEGIN
  TT_FILE_OPEN				"Open a json file"
  TT_FILE_CLOSE				"Close"
  TT_FILE_NEW				"New json file"
  TT_FILE_SAVE				"Save"
  TT_FILE_SAVEAS			"Save as"
  TT_EDIT_COPY_ITEM			"Copy item"
  TT_EDIT_COPY_BRANCH		"Copy branch (and all children items)"
  TT_EDIT_PASTE_ITEM		"Paste item"
  TT_EDIT_PASTE_BRANCH		"Paste branch (and all children items)"
  TT_ADD_ITEM				"Add a json item type"
  TT_DEL_ITEM				"Delete item"
  TT_ADD_ITEM_STRING		"Add json string"
  TT_ADD_ITEM_NUMBER		"Add json number"
  TT_ADD_ITEM_TRUE			"Add json true"
  TT_ADD_ITEM_FALSE			"Add json false"
  TT_ADD_ITEM_ARRAY			"Add json array"
  TT_ADD_ITEM_OBJECT		"Add json object"
  TT_EDIT_FIND				"Find text..."
END
