#define MANIFEST 						24
1						MANIFEST  DISCARDABLE "cjsontree.xml"
100						ICON      DISCARDABLE "Images/class_module.ico"
103						ICON      DISCARDABLE "Images/json_string.ico"
104						ICON      DISCARDABLE "Images/json_integer.ico"
105						ICON      DISCARDABLE "Images/json_float.ico"
106						ICON      DISCARDABLE "Images/json_custom.ico"
107						ICON      DISCARDABLE "Images/json_true.ico"
108						ICON      DISCARDABLE "Images/json_false.ico"
109						ICON      DISCARDABLE "Images/json_array.ico"
110						ICON      DISCARDABLE "Images/json_object.ico"
111						ICON      DISCARDABLE "Images/json_null.ico"
112						ICON      DISCARDABLE "Images/json_invalid.ico"
113						ICON      DISCARDABLE "Images/json_logical.ico"
201						BITMAP    DISCARDABLE "Images/cb.bmp"
202						BITMAP    DISCARDABLE "Images/eb.bmp"
203						BITMAP    DISCARDABLE "Images/cc.bmp"
204						BITMAP    DISCARDABLE "Images/ec.bmp"
205						BITMAP    DISCARDABLE "Images/copyselected.bmp"
206						BITMAP    DISCARDABLE "Images/copyselectedvalue.bmp"
207						BITMAP    DISCARDABLE "Images/copybranchchildren.bmp"
208						BITMAP    DISCARDABLE "Images/pastejson.bmp"
209						BITMAP    DISCARDABLE "Images/additem.bmp"
210						BITMAP    DISCARDABLE "Images/delitem.bmp"
211						BITMAP    DISCARDABLE "Images/menu_json_string.bmp"
212						BITMAP    DISCARDABLE "Images/menu_json_integer.bmp"
213						BITMAP    DISCARDABLE "Images/menu_json_true.bmp"
214						BITMAP    DISCARDABLE "Images/menu_json_false.bmp"
215						BITMAP    DISCARDABLE "Images/menu_json_array.bmp"
216						BITMAP    DISCARDABLE "Images/menu_json_object.bmp"
217						BITMAP    DISCARDABLE "Images/openjsonfile.bmp"
218						BITMAP    DISCARDABLE "Images/closejsonfile.bmp"
219						BITMAP    DISCARDABLE "Images/edititem.bmp"
220						BITMAP    DISCARDABLE "Images/newjsonfile.bmp"
221						BITMAP    DISCARDABLE "Images/exit.bmp"
