#define IDM_MENU 10000
#define IDM_FILE_OPEN 10002
#define IDM_FILE_CLOSE 10003
#define IDM_FILE_NEW 10004
#define IDM_FILE_SAVE 10005
#define IDM_FILE_SAVEAS 10006
#define IDM_FILE_EXIT 10001
#define IDM_EDIT_COPY 10201
#define IDM_EDIT_COPY_VALUE 10202
#define IDM_EDIT_COPY_ITEM 10203
#define IDM_EDIT_COPY_BRANCH 10204
#define IDM_EDIT_PASTE_JSON 10205
#define IDM_HELP_ABOUT 10101
IDM_MENU MENUEX
BEGIN
  POPUP "&File"
  BEGIN
    MENUITEM "&Open...\tCtrl+O",IDM_FILE_OPEN
    MENUITEM "Close\tCtrl+F4",IDM_FILE_CLOSE
    MENUITEM "",,0x00000800
    MENUITEM "&New\tCtrl+N",IDM_FILE_NEW
    MENUITEM "",,0x00000800
    MENUITEM "&Save\tCtrl+S",IDM_FILE_SAVE
    MENUITEM "Save &As...\tCtrl+A",IDM_FILE_SAVEAS
    MENUITEM "",,0x00000800
    MENUITEM "E&xit\tAlt+F4",IDM_FILE_EXIT
  END
  POPUP "&Edit"
  BEGIN
    MENUITEM "&Copy Text\tCtrl+C",IDM_EDIT_COPY
    MENUITEM "Copy &Value",IDM_EDIT_COPY_VALUE
    MENUITEM "",0,0x00000800
    MENUITEM "Copy &Item\tCtrl+I",IDM_EDIT_COPY_ITEM
    MENUITEM "Copy &Branch\tCtrl+B",IDM_EDIT_COPY_BRANCH
    MENUITEM "",,0x00000800
    MENUITEM "&Paste JSON\tCtrl+V",IDM_EDIT_PASTE_JSON
  END
  POPUP "&Help"
  BEGIN
    MENUITEM "&About",IDM_HELP_ABOUT
  END
END
