#define IDM_MENU 10000
#define IDM_FILE_OPEN 10002
#define IDM_FILE_CLOSE 10003
#define IDM_FILE_EXIT 10001
#define IDM_EDIT_PASTE 10201
#define IDM_HELP_ABOUT 10101
IDM_MENU MENUEX
BEGIN
  POPUP "&File"
  BEGIN
    MENUITEM "&Open...",IDM_FILE_OPEN
    MENUITEM "Close",IDM_FILE_CLOSE
    MENUITEM "",,0x00000800
    MENUITEM "E&xit",IDM_FILE_EXIT
  END
  POPUP "&Edit"
  BEGIN
    MENUITEM "&Paste JSON",IDM_EDIT_PASTE
  END
  POPUP "&Help"
  BEGIN
    MENUITEM "&About",IDM_HELP_ABOUT
  END
END
