#define ACCTABLE						300
#define ACC_FILE_OPEN					301
#define ACC_FILE_CLOSE					302
#define ACC_FILE_NEW					303
#define ACC_EDIT_COPY_BRANCH			304
ACCTABLE ACCELERATORS DISCARDABLE
BEGIN
  79,ACC_FILE_OPEN,VIRTKEY,NOINVERT,CONTROL
  115,ACC_FILE_CLOSE,VIRTKEY,NOINVERT,CONTROL
  78,ACC_FILE_NEW,VIRTKEY,NOINVERT,CONTROL
  66,ACC_EDIT_COPY_BRANCH,VIRTKEY,NOINVERT,CONTROL
END
