#define MANIFEST 						24
#define ICO_MAIN						100
#define ICO_JSON_STRING					103
#define ICO_JSON_INTEGER				104
#define ICO_JSON_FLOAT					105
#define ICO_JSON_CUSTOM					106
#define ICO_JSON_TRUE					107
#define ICO_JSON_FALSE					108
#define ICO_JSON_ARRAY					109
#define ICO_JSON_OBJECT					110
#define ICO_JSON_NULL					111
#define ICO_JSON_INVALID				112
#define ICO_JSON_LOGICAL				113
#define IMG_FILE_OPEN					201
#define IMG_FILE_CLOSE					202
#define IMG_FILE_NEW					203
#define IMG_FILE_SAVE					204
#define IMG_FILE_SAVEAS					205
#define IMG_FILE_EXPORT					206
#define IMG_FILE_EXPORT_CLIP			207
#define IMG_FILE_EXPORT_DISK			208
#define IMG_FILE_EXIT					209
#define IMG_EDIT_COPY_TEXT				221
#define IMG_EDIT_COPY_VALUE				222
#define IMG_EDIT_COPY_ITEM				223
#define IMG_EDIT_COPY_BRANCH			224
#define IMG_EDIT_PASTE_TEXT				225
#define IMG_EDIT_PASTE_ITEM				226
#define IMG_EDIT_PASTE_BRANCH			227
#define IMG_EDIT_PASTE_JSON				228
#define IMG_CMD_EDIT_ITEM 				250
#define IMG_CMD_ADD_ITEM 				251
#define IMG_CMD_DEL_ITEM 				252
#define IMG_CMD_COPY 					253
#define IMG_CMD_PASTE					254
#define IMG_CMD_EXPAND_BRANCH			255
#define IMG_CMD_EXPAND_ALL				256
#define IMG_CMD_COLLAPSE_BRANCH			257
#define IMG_CMD_COLLAPSE_ALL			258
#define IMG_CMD_EXPORT					259
#define IMG_CMD_ADD_ITEM_STRING			270
#define IMG_CMD_ADD_ITEM_NUMBER			271
#define IMG_CMD_ADD_ITEM_TRUE			272
#define IMG_CMD_ADD_ITEM_FALSE			273
#define IMG_CMD_ADD_ITEM_ARRAY			274
#define IMG_CMD_ADD_ITEM_OBJECT			275
#define IMG_CMD_EXPORT_TREE_CLIP		290
#define IMG_CMD_EXPORT_TREE_FILE		291
1						MANIFEST  DISCARDABLE "cjsontree.xml"
ICO_MAIN				ICON      DISCARDABLE "Images/j.ico"
ICO_JSON_STRING			ICON      DISCARDABLE "Images/json_string.ico"
ICO_JSON_INTEGER		ICON      DISCARDABLE "Images/json_integer.ico"
ICO_JSON_FLOAT			ICON      DISCARDABLE "Images/json_float.ico"
ICO_JSON_CUSTOM			ICON      DISCARDABLE "Images/json_custom.ico"
ICO_JSON_TRUE			ICON      DISCARDABLE "Images/json_true.ico"
ICO_JSON_FALSE			ICON      DISCARDABLE "Images/json_false.ico"
ICO_JSON_ARRAY			ICON      DISCARDABLE "Images/json_array.ico"
ICO_JSON_OBJECT			ICON      DISCARDABLE "Images/json_object.ico"
ICO_JSON_NULL			ICON      DISCARDABLE "Images/json_null.ico"
ICO_JSON_INVALID		ICON      DISCARDABLE "Images/json_invalid.ico"
ICO_JSON_LOGICAL		ICON      DISCARDABLE "Images/json_logical.ico"
IMG_FILE_OPEN			BITMAP    DISCARDABLE "Images/Menu/Main/File/FileOpen.bmp"
IMG_FILE_CLOSE			BITMAP    DISCARDABLE "Images/Menu/Main/File/FileClose.bmp"
IMG_FILE_NEW			BITMAP    DISCARDABLE "Images/Menu/Main/File/FileNew.bmp"
IMG_FILE_SAVE			BITMAP    DISCARDABLE "Images/Menu/Main/File/FileSave.bmp"
IMG_FILE_SAVEAS			BITMAP    DISCARDABLE "Images/Menu/Main/File/FileSaveAs.bmp"
IMG_FILE_EXPORT			BITMAP    DISCARDABLE "Images/Menu/_placeholder.bmp"
IMG_FILE_EXPORT_CLIP	BITMAP    DISCARDABLE "Images/Menu/_placeholder.bmp"
IMG_FILE_EXPORT_DISK	BITMAP    DISCARDABLE "Images/Menu/_placeholder.bmp"
IMG_FILE_EXIT			BITMAP    DISCARDABLE "Images/Menu/Main/File/FileShut.bmp"
IMG_EDIT_COPY_TEXT		BITMAP    DISCARDABLE "Images/Menu/Main/Edit/EditCopyText.bmp"
IMG_EDIT_COPY_VALUE		BITMAP    DISCARDABLE "Images/Menu/Main/Edit/EditCopyValue.bmp"
IMG_EDIT_COPY_ITEM		BITMAP    DISCARDABLE "Images/Menu/Main/Edit/EditCopyItem.bmp"
IMG_EDIT_COPY_BRANCH	BITMAP    DISCARDABLE "Images/Menu/Main/Edit/EditCopyBranch.bmp"
IMG_EDIT_PASTE_TEXT		BITMAP    DISCARDABLE "Images/Menu/_placeholder.bmp"
IMG_EDIT_PASTE_ITEM		BITMAP    DISCARDABLE "Images/Menu/Main/Edit/EditPasteItem.bmp"
IMG_EDIT_PASTE_BRANCH	BITMAP    DISCARDABLE "Images/Menu/Main/Edit/EditPasteBranch.bmp"
IMG_EDIT_PASTE_JSON		BITMAP    DISCARDABLE "Images/Menu/Main/Edit/clipboardjson.bmp"
IMG_CMD_EDIT_ITEM 		BITMAP    DISCARDABLE "Images/Menu/Rightclick/EditItem.bmp"
IMG_CMD_ADD_ITEM 		BITMAP    DISCARDABLE "Images/Menu/Rightclick/AddItem.bmp"
IMG_CMD_DEL_ITEM 		BITMAP    DISCARDABLE "Images/Menu/Rightclick/DeleteItem.bmp"
IMG_CMD_COPY 			BITMAP    DISCARDABLE "Images/Menu/Rightclick/CopySubmenu.bmp"
IMG_CMD_PASTE			BITMAP    DISCARDABLE "Images/Menu/Rightclick/PasteSubmenu2.bmp"
IMG_CMD_EXPAND_BRANCH	BITMAP    DISCARDABLE "Images/Menu/Rightclick/ExpandBranch.bmp"
IMG_CMD_EXPAND_ALL		BITMAP    DISCARDABLE "Images/Menu/Rightclick/ExpandChildren.bmp"
IMG_CMD_COLLAPSE_BRANCH	BITMAP    DISCARDABLE "Images/Menu/Rightclick/CollapseBranch.bmp"
IMG_CMD_COLLAPSE_ALL	BITMAP    DISCARDABLE "Images/Menu/Rightclick/CollapseChildren.bmp"
IMG_CMD_EXPORT			BITMAP    DISCARDABLE "Images/Menu/Rightclick/ExportSubmenu.bmp"
IMG_CMD_ADD_ITEM_STRING	BITMAP    DISCARDABLE "Images/Menu/Rightclick/Add/AddString.bmp"
IMG_CMD_ADD_ITEM_NUMBER	BITMAP    DISCARDABLE "Images/Menu/Rightclick/Add/AddNumber.bmp"
IMG_CMD_ADD_ITEM_TRUE	BITMAP    DISCARDABLE "Images/Menu/Rightclick/Add/AddTrue.bmp"
IMG_CMD_ADD_ITEM_FALSE	BITMAP    DISCARDABLE "Images/Menu/Rightclick/Add/AddFalse.bmp"
IMG_CMD_ADD_ITEM_ARRAY	BITMAP    DISCARDABLE "Images/Menu/Rightclick/Add/AddArray.bmp"
IMG_CMD_ADD_ITEM_OBJECT	BITMAP    DISCARDABLE "Images/Menu/Rightclick/Add/AddObject.bmp"
IMG_CMD_EXPORT_TREE_CLIP	BITMAP    DISCARDABLE "Images/Menu/Rightclick/Export/ExportClip.bmp"
IMG_CMD_EXPORT_TREE_FILE	BITMAP    DISCARDABLE "Images/Menu/Rightclick/Export/ExportDisk.bmp"
1500					ICON      DISCARDABLE "Images/Toolbar/TB_Open.ico"
1501					ICON      DISCARDABLE "Images/Toolbar/TB_Close.ico"
1502					ICON      DISCARDABLE "Images/Toolbar/TB_New.ico"
1503					ICON      DISCARDABLE "Images/Toolbar/TB_Save.ico"
1504					ICON      DISCARDABLE "Images/Toolbar/TB_SaveAs.ico"
1505					ICON      DISCARDABLE "Images/Toolbar/TB_CopyItem.ico"
1506					ICON      DISCARDABLE "Images/Toolbar/TB_CopyBranch.ico"
1507					ICON      DISCARDABLE "Images/Toolbar/TB_PasteItem.ico"
1508					ICON      DISCARDABLE "Images/Toolbar/TB_PasteBranch.ico"
1509					ICON      DISCARDABLE "Images/Toolbar/TB_AddItem.ico"
1510					ICON      DISCARDABLE "Images/Toolbar/TB_DeleteItem.ico"
1600					ICON      DISCARDABLE "Images/Toolbar/TB_Open_Grey.ico"
1601					ICON      DISCARDABLE "Images/Toolbar/TB_Close_Grey.ico"
1602					ICON      DISCARDABLE "Images/Toolbar/TB_New_Grey.ico"
1603					ICON      DISCARDABLE "Images/Toolbar/TB_Save_Grey.ico"
1604					ICON      DISCARDABLE "Images/Toolbar/TB_SaveAs_Grey.ico"
1605					ICON      DISCARDABLE "Images/Toolbar/TB_CopyItem_Grey.ico"
1606					ICON      DISCARDABLE "Images/Toolbar/TB_CopyBranch_Grey.ico"
1607					ICON      DISCARDABLE "Images/Toolbar/TB_PasteItem_Grey.ico"
1608					ICON      DISCARDABLE "Images/Toolbar/TB_PasteBranch_Grey.ico"
1609					ICON      DISCARDABLE "Images/Toolbar/TB_AddItem_Grey.ico"
1610					ICON      DISCARDABLE "Images/Toolbar/TB_DeleteItem_Grey.ico"
101						BITMAP    DISCARDABLE "Images/Menu/Main/menu_aboutltli.bmp"
229						BITMAP    DISCARDABLE "Images/Menu/Main/Edit/EditFind.bmp"
1511					ICON      DISCARDABLE "Images/Toolbar/TB_FindText.ico"
1611					ICON      DISCARDABLE "Images/Toolbar/TB_FindText_Grey.ico"
200						BITMAP    DISCARDABLE "Images/Menu/Main/File/FileMRU.bmp"
